.display {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.start-screen {
  flex: 1;
  background: url("../../../assets/images/wallpaper.jpg") no-repeat 0 50%;
}

.footer {
  justify-self: flex-end;
}
