.menu-screen {
  display: flex;
  flex-direction: column;
  background-size: cover;
  height: 100%;
}

.toolbar {
  height: 20%;
  background-color: transparent;
}

.main-menu {
  justify-self: flex-end;
  background-color: #fff;
  height: 80%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.menu-item {
  padding: 27px 10px;
  font-size: 20px;
}

.main-menu li:active {
  background-color: #7b007b;
  color: #fff;
}

.main-menu li:hover {
  cursor: pointer;
}

.menu-item a {
  text-decoration: none;
  color: #000;
}
