.recv-msg-menu {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background: url("../../../../assets/images/wallpaper.jpg") no-repeat 0 50%;
  background-size: cover;
  height: 100%;
  justify-content: flex-end;
  font-family: 'Oswald', sans-serif;
}

.recv-messages {
  background-color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  height: 80%;
  overflow-y: auto;
  padding: 0;
}

.recv-msg-title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.recv-messages li {
  padding: 10px 10px;
}

.recv-messages li:hover {
  cursor: pointer;
}

.current-message {
  background-color: black;
  color: white;
}

.add-message{
  height: 90%;
  resize: none;
  border: none;
  padding: 5px;
  background-color: #faf2cc;
  flex: 1;
}

.add-msg-area:focus {
  outline: none;
}
