.menu {
  background-color: white;
  color: black;
  border: 1px #ccc6cc solid;
  padding: 3px;
}

.menu li {
  padding: 3px;
  cursor: pointer;
}

.menu li:hover {
  background-color: #cbcccc;
}

.icon {
  background-color: #a6a0a6;
}

.menuDisable {
  color: #5e5e5e;
}

.menuDisable:hover {
  color: #5e5e5e;
}
