.menu-screen {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background-size: cover;
  height: 100%;
}

.main-menu {
  justify-self: flex-end;
  background-color: #fff;
  padding: 0;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-item {
  padding: 27px 10px;
  font-size: 20px;
}

.main-menu li:hover {
  cursor: pointer;
}

.menu-item a {
  text-decoration: none;
  color: #000;
}

.form-group {
  margin: 10px 0;
}
