<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 side left-side">
      лево
    </div>
    <div class="col-sm-4 side front-side">
      <div class="display col-sm-7 col-sm-offset-2"></div>
      <div class="grid-buttons">
        <button type="button" (click)="button_push(11)">left</button>
        <button type="button" (click)="button_push(12)">up</button>
        <button type="button" (click)="button_push(13)">right</button>
        <button type="button" (click)="button_push(14)">call</button>
        <button type="button" (click)="button_push(15)">down</button>
        <button type="button" (click)="button_push(16)">break</button>
        <button type="button" (click)="button_push(21)">1</button>
        <button type="button" (click)="button_push(22)">2</button>
        <button type="button" (click)="button_push(23)">3</button>
        <button type="button" (click)="button_push(24)">4</button>
        <button type="button" (click)="button_push(25)">5</button>
        <button type="button" (click)="button_push(26)">6</button>
        <button type="button" (click)="button_push(27)">7</button>
        <button type="button" (click)="button_push(28)">8</button>
        <button type="button" (click)="button_push(29)">9</button>
        <button type="button" (click)="button_push(210)">*</button>
        <button type="button" (click)="button_push(211)">0</button>
        <button type="button" (click)="button_push(212)">#</button>
      </div>
    </div>
    <div class="col-sm-2 side right-side">
      право
    </div>
    <div class="col-sm-4">
      <display></display>
    </div>
  </div>
</div>
