<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 side left-side">
      лево
    </div>
    <div class="col-sm-4 side front-side">
      <div (click)="button_push('one')" class="button">1</div>
      <div (click)="button_push('two')" class="button">2</div>
      <div (click)="button_push('three')" class="button">3</div>
      <div class="display col-sm-7 col-sm-offset-2"></div>
    </div>
    <div class="col-sm-2 side right-side">
      право
    </div>
    <div class="col-sm-4">
      <display></display>
    </div>
  </div>
</div>

