.msgs-menu {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  background: url("../../../../assets/images/wallpaper.jpg") no-repeat 0 50%;
  background-size: cover;
  height: 100%;
  justify-content: flex-end;
  font-family: 'Oswald', sans-serif;
}

.messages {
  background-color: #fff;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  height: 80%;
  overflow-y: auto;
  padding: 0;
}

.messages li {
  padding: 5px 10px;
  font-weight: 300;
}

.messages li:hover {
  cursor: pointer;
}

.current-message {
  background-color: black;
  color: white;
}

.add-msg-area {
  height: 100%;
  resize: none;
  border: none;
  padding: 5px;
  background-color: #faf2cc;
}

.add-msg-area:focus {
  outline: none;
}

.readonly {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

